.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    color: #ffffff;
    padding: 20px;
  }
  
  .menu {
    text-align: center;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .button {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .button:hover {
    background-color: #45a049;
    transform: scale(1.05);
  }
  
  .allTables {
    text-align: center;
  }
  
  .tablesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .table {
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 5px;
  }
  
  .tableTitle {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .row {
    font-size: 1rem;
  }
  
  .training {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre horizontalement */
    justify-content: center; /* Centre verticalement */
    text-align: center;
  }
  
  .question {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .answer {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #333333;
    padding: 15px 20px;
    border-radius: 8px;
    margin: 20px 0;
    text-align: center;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .message {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #4caf50;
  }
  